			<form class="mb-3" ng-submit="login()">
				<div class="form-group">
					<label>Username</label>
					<input type="text" ng-model="username" class="form-control" placeholder="Username">
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" ng-model="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<div class="form-group mt-4 mb-3">
					<button type="submit" class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-fw"></i> Masuk</button>
				</div>
				<div class="form-group">
					<label>Belum Memiliki Akun</label>
				</div>
				<div class="form-group mt-2">
					<a href="#!/register" class="btn btn-info btn-block"><i class="fa fa-user-plus fa-fw"></i> Daftar</a>
				</div>
			</form>